

.label {
    background: var(--primaryAlt);;
    // padding: 0.5rem;
    // color: white;
}

.innerWrapper{
    min-height: calc(100vh - 300px);
    @media screen and (max-height:770px) {
        min-height: calc(100vh - 400px) !important;
    }
    @media screen and (max-height:660px) {
        min-height: calc(100vh - 400px) !important;
    }
  }

  :host ::ng-deep {
    mat-table.mat-table {
        max-height: 50vh !important;
        overflow-y:hidden;
        @media screen and (max-height:770px) {
            max-height: 38vh !important;
            overflow-y:scroll;
        }
        @media screen and (max-height:660px) {
            max-height: 29vh !important;
            overflow-y:scroll;
        }

    }
  }

  