.sync-wrapper {
    position: relative;
    padding-right: 3rem;
}

:host {
    button {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}

