<section class="p-0 dialog-wrapper ConfirmationDialogData d-flex flex-column col-12 justify-content-between" attr.styling="{{data.class}}">
  
  
  <!-- Confirmation Dialog Header -->
  <header class="w-full">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <h2 mat-dialog-title class="text-capitalize mat-dialog-title--small">
        {{ data.title }}
      </h2>
<!-- 
      <button type="button" mat-icon-button (click)="closeDialog()">
        <mat-icon class="mat-icon-1x">close</mat-icon>
      </button> -->
  </div>
  </header>
  <mat-dialog-content class="mat-typography">


  <!-- Confirmation Dialog Content -->
  <div class="content flex content-center flex-col justify-center">
    <p [innerHTML]="data.content"></p>
    <h5 *ngIf="data.hint" class="flex hint {{data.class}}">
      <!-- <div [inlineSVG]="'assets/images/info.svg'" aria-label="info" class="w-4"></div> -->
      <mat-icon class="icon stat-card-icon" inline="true" svgIcon="info" aria-label="info" class="mr-2"></mat-icon>
      {{data.hint}}</h5>
  </div>
</mat-dialog-content>
  <!-- Confirmation Dialog Actions -->
  <mat-dialog-actions align="end">

    <!-- Cancel Button -->
    <!-- <button mat-button mat-flat-button class="cancelBtn rounded-none" (click)="closeDialog()"> -->
    <button *ngIf="!data.noCancelButton" mat-button mat-dialog-close class="cancelBtn rounded-none">
      {{ data.cancelText || "Cancel" }}
    </button>

    <!-- Proceed Button -->
    <button mat-button cdkFocusInitial mat-flat-button class="actionBtn rounded-none" mat-dialog-close="proceed" cdkFocusInitial>
      {{ data.proceedText || "Confirm" }}
    </button>
  </mat-dialog-actions>


</section>