<app-form-modal>
    <ng-container>
        <h2 mat-dialog-title>Import allocation</h2>
        <mat-dialog-content class="mat-typography">
            <app-download-empty-template [link]="downloadTemplateLink"></app-download-empty-template>
          <!-- <form [formGroup]="allocationForm"> -->
            <app-upload-adapter
                [payrollId]="_allocation.payrollId"
                (canBeImport)="canBeImport($event)">
            </app-upload-adapter>
            <div class="errorWrapper" #backendError id="backendError">
                <mat-error  class="w-full py-5 flex justify-center text-center" *ngIf="backendError">
                    {{backendError.errorMessage}}
                </mat-error>
            </div>
            <!-- </form> -->
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close class="cancelBtn rounded-none">Cancel</button>
            <button mat-button cdkFocusInitial [disabled]="!enableSubmit" class="actionBtn rounded-none" (click)="submit()"> Apply Allocation </button>
        </mat-dialog-actions>
    </ng-container>
</app-form-modal>
