<ng-container *ngIf="(entities$ | async)?.length; else noResult">

    <app-table-wrapper
    [records$]="entities$"
    [config]="tableConfig"
    [classes]="(pagination$ | async).pageSize > 10 ? 'scroll' : 'no-scroll'"
    (actionTaken)="mapTableAction($event)">
    </app-table-wrapper>

    <!-- Pagination -->
    <app-pagination [config]="pagination$ | async" (paginationChange)="paginate($event)">
    </app-pagination>

</ng-container>

<ng-template #noResult>
    <app-no-result></app-no-result>
</ng-template>